@font-face {
    font-family: Noto_Sans_KR;
    src: url(../font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4000px;
    background-color: white;
    font-family: Noto_Sans_KR;
    color: black;
}

/* 폰트 적용 */
.wrap, header > .inner, .sidebar, footer > .inner, .clock {
    font-family: Noto_Sans_KR;
}

/* 배경 색상 */
body {
    background-color: white;
}

/* 헤더 */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
}

header > .inner {
    height: 115px;
    position: relative;
}

header > .inner > h1 {
    position: absolute;
    color: black;
    top: 15px;
    left: 0;
}

header > .inner > .top-menu {
    color: black;
    display: flex;
    justify-content: flex-end;
}

header > .inner > .top-menu > li {
    padding: 10px 20px;
    position: relative;
}

header > .inner > .top-menu > li > a {
    color: black;
}

header > .inner > .nav > ul {
    display: flex;
    justify-content: center;
    height: 79px;
}

header > .inner > .nav > ul > li {
    margin: 0 40px;
}

header > .inner > .nav > ul > li > a {
    color: black;
    font-size: large;
    font-weight: 700;
    line-height: 79px;
}

header > .inner > .nav > ul > li > a:hover {
    color: red;
}

/* 메인 */
main {
    position: relative;
}

/* 사이드바 */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(250, 250, 250);
    z-index: 1000;
    background-color: black;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: gray;
}


/* 메뉴 */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -800px; /* 푸터와의 간격 조정 */
}

.box1 {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px; /* 박스 사이 간격 넓게 조정 */
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.box1 img {
    display: block;
    margin: 0 auto 20px; /* 박스 안의 이미지와의 간격 넓게 조정 */
    max-width: 100%;
    border-radius: 50%;
}

.box1 h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.box1 p {
    margin-bottom: 10px;
}

.box1 p.del {
    text-decoration: line-through;
}

.box1 p.price {
    font-size: 1.2em;
    font-weight: bold;
}

.box1 p.payment {
    color: #009900;
    font-weight: bold;
}

/* 애니메이션 */
.menu .box1 {
    opacity: 0;
    animation: fadeInAnimation 0.5s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu .box1:nth-child(1) {
    animation-delay: 0.3s;
}

.menu .box1:nth-child(2) {
    animation-delay: 0.6s;
}

.menu .box1:nth-child(3) {
    animation-delay: 0.9s;
}

/* 시계 */
.clock {
    position: absolute;
    background-color: black;
    border: 2px solid black;
    left: 40%;
    /*transform: translateX(-50%);*/
    cursor: pointer;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
 
    margin-top: 3000px;
    

    
}

.second-hand {
    position: absolute;
    width: 1px;
    height: calc(50% - 8px);
    background-color: white;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -100%) rotate(0deg);
    transition: transform 0.1s linear;
}

.saved-value {
    position: absolute;
    top: 50%;
    left: calc(50% + 170px);
    transform: translateY(-50%);
    font-size: 50px;
    color: red;
}

/* 푸터 */
footer {
    position: absolute;
    
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    margin-top: 5500px; /*푸터마진*/
}

footer > .inner > ul {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
}

footer > .inner > ul > li {
    padding: 10px 20px 30px;
}

.red {
    color: red;
}

footer > .inner > .footerBt {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

footer > .inner > .footerBt .t {
    margin: 10px 0;
}

footer > .inner > .footerBt .t > span {
    padding: 10px 20px;
    position: relative;
    color: #5a5a5a;
}

footer > .inner > .footerBt .c {
    margin: 30px 10px;
    padding-left: 10px;
    font-size: small;
}

footer > .inner > .footerBt > .right > select {
    width: 210px;
    height: 45px;
    padding-left: 20px;
    border: 1px solid rgb(204, 204, 204);
    appearance: none;
    background-image: url(img/sel_icon.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    font-size: 15px;
}

/* 스크롤바 디자인 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 5px;
}

footer>button{
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 100px;
   
}




@keyframes fadeInRight {
    from {
        left: -600px; /* 시작 위치를 좌측 화면 외부로 설정 */
        opacity: 0;
    }
    to {
        left: 50%; /* 최종 위치를 가운데로 설정 */
        opacity: 1;
    }
}