.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 250px;
    height: 100px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border: 5px solid black;
    margin: 10px auto 30px;
}

.box1 {
    border: none;
    background-color: white;
    color: brown;
    margin: 10px;
}

img {
    width: 500px; /* 이미지의 너비를 조정합니다. */
    height: 700px; /* 이미지의 높이를 조정합니다. */
}
