.gugu{
    border: 1px solid black;
}
.tb{
    border: 1px solid black;

}
.gg1{

    border: 1px solid black;

}
.gg2{

    border: 1px solid black;
}

#gugu {
    border: 1px solid black;
}

#tb {
    border: 1px solid black;
}
